<h1>New article</h1>

<%= form_for :article, url: articles_path do |f| %>
	<% render 'form' %>
<% end %>

<%= link_to 'List', articles_path %><br><br>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>